{% extends "layout.html" %}
{% block content %}
  <h1 class="mt-4">About me</h1>
  <p>I am a passionate data scientist with a comprehensive background and record 
    in modeling, statistics, data management and programming.  I am really interested 
    in applying modern techniques to data and challenges in agriculture and beyond.
  </p>
    <p>
    During my graduate research in agriculture, I discovered my love 
    for data and uncovering insight and value from messy data and helping others 
    manage and uncover meaning from their data.  My favorite part was the analysis 
    and discovery not necessarily in the lab generating the data.  After completing 
    my research, I contributed to the "big picture" managing government supported 
    projects in DC but my true passion is buried in the data - making sense of it.
  </p>
    <p>
    I look forward to continuing to explore and implement modern techniques for unique applications.
    Please check my Github and LinkedIn and reach out if you have common interests!
    </p>
{% endblock %}
