{% extends "layout.html" %}
{% block content %}
  <h1 class="mt-4">Project Overview</h1>
  <p>This project stems out of my interest and interest of many outdoor enthusiasts 
    to find amazing and undiscovered areas to go camping. There are several resources 
    currently to locate interesting campsites, but they depend on user entered campsite information and curation.
  </p>
  <p>
    What if we could scan satellite imagery and predict where good campsites will be?
  </p>
    For a more detailed overview of this project, check the slides here:
    
    <a href='https://paultanger.github.io/CampsitePredict'>https://paultanger.github.io/CampsitePredict/</a>
</p>
</p>
    The techniques used here can be utilized for other purposes but 
    initially the focus has been on using machine learning techniques with known 
    campsites to characterize the satellite features of “good” campsites. 
    A model was trained using over 8,000 labeled campsites in the US from the iOverlander mobile app
    based on satellite images of the GPS coordinates.  This model reached 87% accuracy, and was still accurate
    even on new unseen data.  The purpose of this site to host those predictions and enable people to curate
    and assist the model to improve even further.
    </p>
{% endblock %}
