{% extends "layout.html" %}
{% block content %}
        <h1 class="mt-4">Predict new site location</h1>
        <p>Enter the GPS coordinates in simple decimal degrees format (such as, 38.497862, -106.945057):</p> 
        <form action="/predict_results" method="POST">
          <!-- <input type="submit" /> -->
          <p></p>
          <input type="text" name="gps_coords"/>
          <p></p>
          <p>click below to get model prediction:</p>
          <input type="submit" value="view results"/>
        </form>
        {% endblock %}